<br/>
<div class="dropdown pull-right hidden">
  <a id="dLabel" data-target="#" class="btn btn-default" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Examples
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dLabel">
    
            <li class="list-group-item">
              <%= link_to "Example 1 (Vanilla)", example1_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 2 (Palettes)", example2_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 3 (Cobrowse)", example3_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 4 (Live Assist)", example4_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 5 (FCSDK)", example5_path(@team.id) %>
            </li>
  </ul>
</div>


<h1> Welcome <% unless current_user.blank? %><%= current_user.name.titleize %> <% end %>
<br/>
<small>(<%= request.original_url.split('/').last %>)</small>
</h1>
<br/>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
    <li role="presentation" class="active"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graph</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="activity">
    	<br/>
    	<div class="list-group">
			<% current_user.accounts.first.activity.reverse.each do |action| %>
				<% if action.class == Deposit %>
				<a href="<%= deposit_path(action.id) %>" class="list-group-item list-group-item-success">
					£<%= number_with_precision(action.amount, :precision => 2) %> - <%= action.created_at.to_formatted_s(:short) %>
				</a>
				<% else %>
				<a href="<%= withdrawal_path(action.id) %>" class="list-group-item list-group-item-danger">
					£-<%= number_with_precision(action.amount, :precision => 2) %> - <%= action.created_at.to_formatted_s(:short) %>
				</a>
				<% end %>
			<% end %>

		</div>

    </div>
    <div role="tabpanel" class="tab-pane active" id="graph">
    	
    	<canvas id="myChart" width="400" height="400"></canvas>

    </div>
  </div>




<script type="text/javascript">
	
	var ctx = document.getElementById("myChart");
	var ctx = document.getElementById("myChart").getContext("2d");
	var ctx = $("#myChart");

	var dates = "<%= current_user.accounts.first.dates.to_json %>";


	var dates = JSON.parse(dates.replace(/&quot;/g,'"'));
	// console.log($.makeArray(dates));

	var data = {
		    labels: dates,
		    datasets: [
		        {
		            label: <%= current_user.accounts.first.number %>,
		            fill: false,
		            lineTension: 0.1,
		            backgroundColor: "rgba(75,192,192,0.4)",
		            borderColor: "rgba(75,192,192,1)",
		            borderCapStyle: 'butt',
		            borderDash: [],
		            borderDashOffset: 0.0,
		            borderJoinStyle: 'miter',
		            pointBorderColor: "rgba(75,192,192,1)",
		            pointBackgroundColor: "#fff",
		            pointBorderWidth: 1,
		            pointHoverRadius: 5,
		            pointHoverBackgroundColor: "rgba(75,192,192,1)",
		            pointHoverBorderColor: "rgba(220,220,220,1)",
		            pointHoverBorderWidth: 2,
		            pointRadius: 1,
		            pointHitRadius: 10,
		            data: <%= current_user.accounts.first.values %>,
		        }
		    ]
		};


	var myLineChart = Chart.Line(ctx, {
   	 data: data,
   	});


</script>
