<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :webappid %>
    <%= f.input :server %>
    <%= f.input :fqdn %>
    <%= f.input :number %>
    <%= f.input :agent %>
    <%= f.input :uui_data %>
    <%= f.input :allowed_origins %>
    <%= f.input :correlation_id %>
    <%= f.input :info, input_html: {rows: 20} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
