<style type="text/css">
	
#local {
	width: 180px;
	float: right;
}

</style>
<div class='container' >
<h1 class='text-center'>Agent Console</h1>
<hr/>
<div class='col-md-8' >
	<!-- remote screen share -->
	
<div id="share" class='well'></div>
</div>	
<div class='col-md-4' >
	<!-- remote video view -->
	<div id="remote" class='well'>

	
	</div>
	
	<!-- local video preview -->
	<div id="local" class="well"></div>


	<!-- indicates the quality of the call -->
	<div id="quality"></div>

	<button id="request-share" class='btn btn-primary'><i class='glyphicon glyphicon-share'></i> Request screen share</button>
	<button id="hangup" class='btn btn-danger'><i class='glyphicon glyphicon-phone-alt'></i> Hang-up</button>
<br/><br/>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#mode" aria-controls="home" role="tab" data-toggle="tab">Mode</a></li>
    <li role="presentation"><a href="#push" aria-controls="profile" role="tab" data-toggle="tab">Push</a></li>	
	<li role="presentation"><a href="#annotation" aria-controls="profile" role="tab" data-toggle="tab">Annotation</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mode">
	<br/>
		<div class="panel panel-default">
	<div class="panel-heading">Mode</div>
		<div class="panel-body">
	<form class="mode">
		<div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
					<input type="radio" name="mode" value="control" /><i class='glyphicon glyphicon-hand-up'></i> Grab<br>
				</label>
		 <label class="btn btn-default">
		<input type="radio" name="mode" value="draw" /><i class='glyphicon glyphicon-pencil'></i> Draw<br>
		</label>
		 <label class="btn btn-default">
		<input type="radio" name="mode" value="spotlight" /><i class='glyphicon glyphicon-record'></i> Pointer<br>
		</label>
		
    </div>
	
	</form>
	
	<br/>
	<button class="btn btn-default pull-left" type="submit" id='clear'><i class='glyphicon glyphicon-trash'></i> Clear</button>
	
	</div>
	</div>
	

	
	
	</div>
	   <div role="tabpanel" class="tab-pane" id="annotation">
	   <br/>
		<div class="panel panel-default">
	<div class="panel-heading">Annotation Controls</div>
		<div class="panel-body">
				<form class="annotation-control">
					<label>Colour</label>
					<input type="color" class="color" value="#ff0000">
					<br/><br/>

					<label>Opacity</label>
					<select class="form-control" type="text" class="opacity" value="0.5">
						  <option>0.2</option>
						  <option>0.4</option>
						  <option>0.6</option>
						  <option>0.8</option>
						  <option>1</option>
						</select>
						<br>
						<label>Thickness</label>
						<select class="form-control" type="text" class="width" value="0.5">
						  <option>1</option>
						  <option>2</option>
						  <option>4</option>
						  <option>8</option>
						  <option>10</option>
						</select>
						<br/>
					<button type="submit" class='btn btn-primary btn-sm pull-right'>Update</button>
				</form>
			</div>
		</div>

</div>
	
	
    <div role="tabpanel" class="tab-pane" id="push">
		<br/>
			<div class="panel panel-default">
				<div class="panel-heading">Push Options</div>
					<div class="panel-body">
				<form class="push form-inline">
					<div class="input-group">
				 <div class="input-group-addon">http://</div>
					<input type="text" class="url form-control" placeholder="URL"><br>
					</div><br><br/>
					<input type="radio" name="type" value="document" class='document'> Document<br>
					<input type="radio" name="type" value="content"> Content<br>
					<input type="radio" name="type" value="link"> Link<br>
					<button type="submit" class='btn btn-primary btn-sm pull-right' >Push</button>
				</form>
				
				</div>
				</div>
	
	</div>
  </div>

</div>
		

</div>
</div>

</body>
<script src="https://<%= @team.fqdn %>/assistserver/sdk/web/shared/js/thirdparty/i18next-1.7.4.min.js"></script>

<!-- libraries needed for voice / video -->
<script src="https://<%= @team.fqdn %>/gateway/adapter.js"></script>
<script src="https://<%= @team.fqdn %>/gateway/fusion-client-sdk.js"></script>

<!-- other libraries -->
<script src="https://<%= @team.fqdn %>/assistserver/sdk/web/shared/js/assist-aed.js"></script>
<script src="https://<%= @team.fqdn %>/assistserver/sdk/web/shared/js/shared-windows.js"></script>
<script src="https://<%= @team.fqdn %>/assistserver/sdk/web/agent/js/assist-console.js"></script>

<!-- needed for voice / video -->
<script src="https://<%= @team.fqdn %>/assistserver/sdk/web/agent/js/assist-console-callmanager.js"></script>

<!-- load jQuery - helpful for DOM manipulation -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<style type="text/css">
	
	.share canvas {
		width:700px !important;
	}
</style>

<!-- control -->
<script>
	$(function () {
	
	$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});

		$('#hangup').click(function(){
			CallManager.endCall();
		
		});
		
		$('#clear').click(function(){
			AssistAgentSDK.clearSelected();	
		});
		
		$(".mode input").click(function() {
			$(this).attr({'checked': 'checked'}).toggle();
				console.log('this');
		});

		// set the remote screen share view
		var share = $('#share')[0];
		AssistAgentSDK.setRemoteView(share);

						
        

		var sessionToken = "<%= @token %>";



		console.log( "sessionToken: " + sessionToken );
	

					// now register the agent
					CallManager.init({
						sessionToken: sessionToken,
						autoanswer: false,
						username: 'agent1',
						password: 'none',
						agentName: 'Agent',
						agentPictureUrl: 'http://<%= @team.fqdn %>/assistserver/img/avatar.png',
						url: 'https://<%= @team.fqdn %>:8443'
					});
					


		/////////////////////////////////////
		//
		// Configure UI handlers

		// bind to configure the screen
		$('#request-share').click(function (event) {
			event.preventDefault();
			AssistAgentSDK.requestScreenShare();
		});

		// configure the annotation
		$('.annotation-control').submit(function (event) {
			// prevent normal form submission behaviour
			event.preventDefault();

			// extract the vars
			var $this = $(this);
			var color = $this.find('.color').val();
			var opacity = $this.find('.opacity').val();
			var width = $this.find('.width').val();

			// update the annotation draw style
			AssistAgentSDK.setAgentDrawStyle(color, opacity, width);
		});

		// configure document push
		$('.push').submit(function (event) {
			// prevent the normal form submission behaviour
			event.preventDefault();

			var $this = $(this);
			var url = $this.find('.url').val();
			var type = $this.find('[name=type]:checked').val();

			var method, callback;
			switch(type) {
				case 'content':
					AssistAgentSDK.pushContent('https://<%= @team.fqdn %>/assist-resourcemanager/rest/public/resources/gecko.jpg');
					break;
				case 'document':
					AssistAgentSDK.pushDocument('https://<%= @team.fqdn %>/assist-resourcemanager/rest/public/resources/ipad-user-guide.pdf');
					break;
				case 'link':
					AssistAgentSDK.pushLink('http://'+url);
					break;
			}

			
		});

		// respond to changes in the share type
		$('[name=mode]').change(function () {
			var $this = $(this);
			var mode = $this.val();
			
			// determine which mode to switch in to
			switch(mode) {
				case 'control': 
					AssistAgentSDK.controlSelected();
					break;
				case 'draw':
					AssistAgentSDK.drawSelected();
					break;
				case 'spotlight':
					AssistAgentSDK.spotlightSelected();
					break;
			}
		});

		//////////////////////////////////////////
		//
		// set the AssistAgentSDK callbacks

		AssistAgentSDK.setCallEndedCallback(function () {

		});

		AssistAgentSDK.setConnectionEstablishedCallback(function () {

		});

		AssistAgentSDK.setConnectionLostCallback(function () {

		});

		AssistAgentSDK.setConnectionReestablishedCallback(function () {

		});

		AssistAgentSDK.setConnectionRetryCallback(function () {

		});

		AssistAgentSDK.setConsumerJoinedCallback(function () {

		});

		AssistAgentSDK.setConsumerLeftCallback(function () {

		});

		AssistAgentSDK.setFormCallBack(function (form) {


		});

		AssistAgentSDK.setRemoteViewCallBack(function (x, y) {
			console.log('x: ' + x + ', y: ' + y);

		});

		AssistAgentSDK.setScreenShareActiveCallback(function(active) {
			console.log('Screenshare active: ' + active);

		});

		AssistAgentSDK.setScreenShareRejectedCallback(function () {

		});

		AssistAgentSDK.setSnapshotCallBack(function (snapshot) {
			// open the snapshot image
			window.open(snapshot);
		});	


		////////////////////////////////////
		//
		// Configure the CallManager

		// extract the elems
		var remote = $('#remote')[0];
		var local = $('#local')[0];
		var quality = $('#quality')[0];

		CallManager.setRemoteVideoElement(remote);
	    CallManager.setLocalVideoElement(local);
	    CallManager.setCallQualityIndicator(quality);
	});
</script>