<script src="https://<%= @team.fqdn %>/assistserver/sdk/web/consumer/assist.js"></script>
<div class="col-md-12">
	<div class="col-md-8">
		<%= render partial: "content" %>
	</div>
	<div class="col-md-4">
		<br/>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal" id="go">
		  Click To Cobrowse
		</button>

		<button class="btn btn-danger btn-block" id="endCobrowse">
		  End Support
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Speak this short code to the agent</h4>
		      </div>
		      <div class="modal-body">
		        <h1 id="short-code"></h1>
		        <br/>
		            <p>Call this number if you're not already on a call:</p>
		      		<h3><%= @team.number %></h3>
		      </div>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>


<script type="text/javascript">

	$("#endCobrowse").on("click", function(event) {
		event.preventDefault();
		console.log("endSupport");
		AssistSDK.endSupport();
		
	});



	// cache the UI elements that we will be interacting with
	var $endButton = $('#end');
	var $codeDisplay = $('#short-code');
	
	// when the support button is clicked...
	/*$('#go').click(function (event) {
		event.preventDefault();
		
		// Retrieve a short code
		$.ajax('http://<%= @team.fqdn %>:8080/assistserver/shortcode/create', {
			method: 'put',
			dataType: 'json'
		})
		.done(function (response) {

			// Retrieve session configuration (session token, CID etc.)
			$.get('http://<%= @team.fqdn %>:8080/assistserver/shortcode/consumer', {
				appkey: response.shortCode
			}, function (config) {

				// display the code for the consumer to read to the agent
				$codeDisplay.text(response.shortCode);

				// translate the config retrieved from the server, into
				// parameters expected by AssistSDK
				var params = {
					cobrowseOnly: true,
					correlationId: config.cid,
					scaleFactor: config.scaleFactor,
					sessionToken: config['session-token']
				};

				// start the support session
				AssistSDK.startSupport(params);
				
			}, 'json');
		});
	});*/

	$('#go').click(function (event) {
		event.preventDefault();
		
		// Retrieve a short code
		$.get('<%= shortcode_url(id: @team.id, :protocol => "https") %>')
		.done(function (response) {

				// display the code for the consumer to read to the agent
				$codeDisplay.text(JSON.parse(response)["shortCode"]);

				var config = JSON.parse(response)["get_response"];

				// translate the config retrieved from the server, into
				// parameters expected by AssistSDK
				var params = {
					cobrowseOnly: true,
					correlationId: config.cid,
					scaleFactor: config.scaleFactor,
					sessionToken: config['session-token']
				};

				// start the support session
				AssistSDK.startSupport(params);
				
			}, 'json');
		});

	// configure Assist to automatically approve share requests
	AssistSDK.onScreenshareRequest = function () {
		return true;
	};

	// the $endSupport button will be hidden
	// $endButton.hide().css('display', 'inline');

	// when screenshare is active, toggle the visibility of the 'end' button
	AssistSDK.onInSupport = function () {
		$endButton.show();
	};

	AssistSDK.onEndSupport = function () {
		$endButton.hide();
		$codeDisplay.text('');
	};

    var $endButton = $("#endSupport");

	$endButton.click(function () {
		AssistSDK.endSupport();
	});







</script>