
<div class="col-md-12">
	<div class="col-md-8">

		<%= render partial: "content" %>
	</div>
	<div class="col-md-4">
		<br/>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
		  Click To Call
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Call this number:</h4>
		      </div>
		      <div class="modal-body">
		        <h1><%= @team.number %></h1>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>


<script type="text/javascript">
	
	

</script>