<script type="text/javascript" src='https://<%= @team.fqdn %>/assistserver/sdk/web/consumer/assist.js'></script>
<div class="col-md-12">

	<div class="col-md-8">

		<%= render partial: "content" %>
	</div>
	<div class="col-md-4">
		<select id="languages" class="form-control">
		  <option value="english">English</option>
		  <option value="german">German</option>
		  <option value="french">French</option>
		  <option value="spanich">Spanish</option>
		</select>
		<br/>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-success btn-block" onclick="startSupport();">
		  Click To Call
		</button>

		<br/>

	</div>
</div>


<script type="text/javascript">

console.log("<%= @token %>")

var startSupport = function() {

		var language = $("#languages").find(":selected").text();

		$.ajax({
			  type: "POST",
			  url: 'palettes',
			  data: {lang: language, csdk: "<%= @team.correlation_id %>"},
			  success: function() {

				console.log("posted to palettes");

			},
			  dataType: 'JSON'
			});

		// break point here

		AssistSDK.startSupport({destination: "<%= @team.agent %>", sessionToken: "<%= @token %>", correlationId: "<%= @team.correlation_id %>"});


};
	

</script>