<script type='text/javascript' src='https://<%= @team.fqdn %>/gateway/adapter.js'></script>
<script type='text/javascript' src='https://<%= @team.fqdn %>/gateway/fusion-client-sdk.js'></script>
<script type="text/javascript" src='https://<%= @team.fqdn %>/assistserver/sdk/web/consumer/assist.js'></script>

<div class="col-md-12">
	<div class="col-md-8">
		<%= render partial: "content" %>
	</div>
	<div class="col-md-4">
		<br/>
		<select id="languages" class="form-control">
		  <option value="english">English</option>
		  <option value="german">German</option>
		  <option value="french">French</option>
		  <option value="spanich">Spanish</option>
		</select>
		<br/>

		<!-- Button trigger modal -->
		<button type="button" id="call" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
		  Click To Call
		</button>

		

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Call in progress:</h4>
		      </div>
		      <div class="modal-body">

		      
                <div id="remote" src="" autoplay style="width:320px; height: 240px"></div>
                <div id="local" src="" autoplay style="width:80px; height:60px;position:absolute; top:240px;right:10px;"></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <!-- Button trigger modal -->
				<button type="button" id="endCall" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
				  End Call
				</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>


<script type="text/javascript">


UC.onInitialised = function() {


    UC.phone.setPreviewElement($("#local"));

    
    var call = UC.phone.createCall("<%= @team.agent %>");

    call.onRemoteMediaStream = function() {
        call.setVideoElement(document.getElementById('remote'));
    };

    call.dial(true, true);

    $("#endCall").on("click", function() {
		call.end();
	});


};

$("#call").on('click', function() {

	var language = $("#languages").find(":selected").text();

	$.ajax({
		  type: "POST",
		  url: 'palettes',
		  data: {lang: language, csdk: "<%= @team.correlation_id %>", },
		  success: function() {
		},
		  dataType: 'JSON'
		});

	UC.start("<%= @token %>");

	AssistSDK.startSupport({sessionToken: "<%= @token %>", correlationId: "<%= @team.correlation_id %>"});

});


</script>