
<h1>Listing Teams</h1>
<hr/>
    <% @teams.each do |team| %>

        <h2 class="white"><%= link_to team.name, team, class: "white" %></h2>
        <br/>
       <%= link_to 'Edit', edit_team_path(team) %>
     <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>

     <br/>
    <% end %>
