<div class="col-md-12">

  <%= link_to 'Edit', edit_team_path(@team), class: "btn btn-default btn-sm white pull-right" %> 

<h1 class="text-center">
  <%= @team.name %>
</h1>
<hr/>
<div class="col-md-8">
  

</div>




</div>

<hr/>

<div class="col-md-12">
  <div class="col-md-8">
    <div class="col-md-6">
  <h3>Team Config</h3>
    <div class="panel panel-body">
      <p>
        <strong>Webappid:</strong>
        <%= @team.webappid %>
      </p>

      <p>
        <strong>Server:</strong>
        <%= @team.server %>
      </p>

      <p>
        <strong>FQDN:</strong>
        <%= @team.fqdn %>
      </p>


      <p>
        <strong>Number:</strong>
        <%= @team.number %>
      </p>
      <p>
        <strong>Agent:</strong>
        <%= @team.agent %>
      </p>
      <p>
        <strong>Correlation Id:</strong>
        <%= @team.correlation_id %>
      </p>

      <p>
        <strong>Allowed Origins:</strong>
        <%= @team.allowed_origins %>
      </p>

      <p>
        <strong>Uui Data:</strong>
        <%= @team.uui_data %>
      </p>
  </div>
  </div>



    <div class="col-md-6">
    <h3>Examples</h3>
        <ul class=" list-group">

            <li class="list-group-item">
              <%= link_to "Example 1 (Vanilla)", example1_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 2 (Palettes)", example2_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 3 (Cobrowse)", example3_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 4 (Live Assist)", example4_path(@team.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to "Example 5 (FCSDK)", example5_path(@team.id) %>
            </li>
        </ul>

      </div>

      <br/>


        <div class="col-md-12 ">
            <h3>Team Info.</h3>    
              <div class=" white">
                  <%= auto_link(@team.info.html_safe, :html => { :target => '_blank' } ) %> 
              </div>  
          </div>


  </div>
  <div class="col-md-4">
    <h3>Session Description Json</h3>
      <div class="panel panel-body">
              <code class="hidden">
              <%= @json %>
              </code>

              <textarea id="code" style="border:none; background: transparent; " rows="25" cols="35" class="white"></textarea>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

$(document).ready(function() {

  var jsonPretty = JSON.stringify(JSON.parse($("code").html()),null,2);  

  $("#code").html(jsonPretty);


  $('.nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });

});


</script>

