<div class="jumbotron">
  <h1>Welcome to the Bank of CaféX</h1>
  <br/>
  <% if current_user.blank? %>
    <p>Sign in to view the example apps.</p>
    <p><a class="btn btn-primary btn-lg white" href="<%= new_user_session_path %>" role="button">Sign In</a></p>
  <% end %>

</div>
