<%= simple_form_for(@withdrawal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, :input_html => { value: current_user.id } %>
    <%= f.input :account_id, collection: current_user.accounts, :input_html => { value: @withdrawal.account_id }, :include_blank => false %>
    <%#= f.input :account_id, as: :hidden, :input_html => { value: @withdrawal.account_id } %> 
    <%= f.input :amount, placeholder: "0.00" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
