<p id="notice"><%= notice %></p>

<h1>Listing Withdrawals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Account</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @withdrawals.each do |withdrawal| %>
      <tr>
        <td><%= withdrawal.user_id %></td>
        <td><%= withdrawal.account_id %></td>
        <td><%= withdrawal.amount %></td>
        <td><%= link_to 'Show', withdrawal %></td>
        <td><%= link_to 'Edit', edit_withdrawal_path(withdrawal) %></td>
        <td><%= link_to 'Destroy', withdrawal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Withdrawal', new_withdrawal_path %>
