
<h1>
  <strong>User:</strong>
  <%= @withdrawal.user.email %>
</h1>

<p>
  <strong>Account:</strong>
  <%= link_to @withdrawal.account.number, @withdrawal.account %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @withdrawal.amount %>
</p>

<%= link_to 'Edit', edit_withdrawal_path(@withdrawal) %> |
<%= link_to 'Back', withdrawals_path %>
