<%= simple_form_for(@loan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :amount %>
    <%= f.input :rate %>
    <%= f.input :term %>
    <%= f.input :repayment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
