
<p>
  <strong>User:</strong>
  <%= @loan.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @loan.rate %>
</p>

<p>
  <strong>Term:</strong>
  <%= @loan.term %>
</p>

<p>
  <strong>Repayment:</strong>
  <%= @loan.repayment %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
