<%= simple_form_for(@deposit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, :input_html => { value: current_user.id } %>
    <%#= f.input :account_id, collection: current_user.accounts %>
    <%= f.input :account_id, collection: current_user.accounts, :input_html => { value: @deposit.account_id }, :include_blank => false %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
