
<h1>
  <%= @deposit.user.email %>
</h1>

<p>
  <strong>Account:</strong>
  <%= link_to @deposit.account.number, @deposit.account %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.amount %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
