/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.white {
	color:white !important;
}

ul li {
	padding-left: 0px;
	list-style:none;
	margin-left: 0px;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
}

.examples li {
	margin: 5px;
}

.white {
	color: white;
}