/* Superhero
 * Bootswatch
 *= require_self
 *= require superhero/loader
 *= require superhero/bootswatch
*/

#banner {
	height:50px !important;
	margin-bottom: 0px !important;
	padding: 10px !important;
}

li a {
	color: white !important;
}

main {
	background-color: transparent !important;
}

.logo {
	background: url('/assets/footer-logo.png') no-repeat -2px -14px;
	width: 70px;
	height: 65px;
	background-size: 50%; 
	position: relative;
	top: 5px;
	margin-right: -15px
}

.black {
	color: black !important;
}

.white {
	color: white !important;
}