<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user %>
      <%= link_to "", authenticated_path, class: 'navbar-brand logo' %>
      <%= link_to 'Bank of CaféX', authenticated_path, class: 'navbar-brand' %>
      <% else %>
       <%= link_to "", unauthenticated_path, class: 'navbar-brand logo' %>
      <%= link_to 'Bank of CaféX', unauthenticated_path, class: 'navbar-brand' %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="nav navbar-nav pull-right">  
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </div>
  </div>
</nav>
