<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bank" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bank" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://172.31.250.62:8443/assistserver/sdk/web/consumer/assist.js"></script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Loan Application</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(Loan.new) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%#= f.input :user_id, as: :hidden, html_input: {value: current_user.id} %>
            <%= f.input :amount %>
            <%= f.input :rate, as: :hidden %>
            <%= f.input :term %>
            <%= f.input :repayment, as: :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





  </body>
</html>
