<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bank" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bank" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <% if current_user %>
    <script type="text/javascript" src='https://<%= current_user.team.fqdn %>/assistserver/sdk/web/consumer/assist.js'></script>
    <% end %>

  </head>
  <body>
      <div class="alert alert-warning hidden text-center" id="banner">Currently Co-browsing 
          <button id="endSupport" class="btn btn-sm btn-danger">End Support</button>
      </div>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    
    <main role="main" class="container">

       <%= render 'layouts/messages' %>
       <%= yield %>
       <button class="btn btn-sm btn-danger pull-right hidden" id="endSupportButton">end support</button>
    </main>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Loan Application</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(Loan.new) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%#= f.input :user_id, as: :hidden, html_input: {value: current_user.id} %>
            <%= f.input :amount %>
            <%= f.input :rate, as: :hidden %>
            <%= f.input :term %>
            <%= f.input :repayment, as: :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$('#endSupportButton').on("click", function() {
  AssistSDK.endSupport();
});

var showCobrowseUI = function() {
    $('#endSupportButton').removeClass('hidden');
 }
  
AssistSDK.onInSupport = function() {
   // Show user extra UI as they’re in a Live Assist session
   showCobrowseUI();
};

AssistSDK.onCobrowseActive = function() {
  // Display indicator, log, etc.
   $("#banner").removeClass("hidden");

};

AssistSDK.onCobrowseInactive = function() {
    
    $("#banner").addClass("hidden");
};


$("#endSupport").on("click", function(e) {
  e.preventDefault();

  AssistSDK.endSupport();
});


</script>


  </body>
</html>
