<%= simple_form_for(@account) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :number %>
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
