
<h1>My Accounts</h1>
<hr/>
    <% current_user.accounts.each do |account| %>
        <h2><%= link_to "#{account.name} (#{account.number})", account %></h2>
        <%= link_to 'Edit', edit_account_path(account) %>
        <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr/>
    <% end %>
<br>
