

<div class="col-md-12">

<div class="col-md-8">


<h1>
 <%= @account.name %> (<%= @account.user.name %>)
 <br/>
 <small>Number <%= @account.number %></small>
</h1>
<hr/>
<%= link_to 'Edit', edit_account_path(@account) %> | <%= link_to 'Deposit', new_deposit_path(account_id: @account.id) %> | <%= link_to 'Withdrawal', new_withdrawal_path(account_id: @account.id) %>

<h2>Balance: £<%= number_with_precision(@account.balance, :precision => 2) %></h2>
<br/>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
    <li role="presentation"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graph</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="activity">
    	<br/>
    	<div class="list-group">
			<% @activity.reverse.each do |action| %>
				<% if action.class == Deposit %>
				<a href="<%= deposit_path(action.id) %>" class="list-group-item list-group-item-success">
					£<%= number_with_precision(action.amount, :precision => 2) %> - <%= action.created_at.to_formatted_s(:short) %>
				</a>
				<% else %>
				<a href="<%= withdrawal_path(action.id) %>" class="list-group-item list-group-item-danger">
					£-<%= number_with_precision(action.amount, :precision => 2) %> - <%= action.created_at.to_formatted_s(:short) %>
				</a>
				<% end %>
			<% end %>

		</div>

    </div>
    <div role="tabpanel" class="tab-pane" id="graph">
    	
    <canvas id="myChart" width="400" height="400"></canvas>


    </div>
  </div>

</div>

<div class="col-md-4">
	
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block pull-right" data-toggle="modal" data-target="#myModal">
  Apply for a Loan
</button>
</div>


</div>
<script type="text/javascript">
	
	var ctx = document.getElementById("myChart");
	var ctx = document.getElementById("myChart").getContext("2d");
	var ctx = $("#myChart");

	var dates = "<%= @dates.to_json %>";


	var dates = JSON.parse(dates.replace(/&quot;/g,'"'));
	// console.log($.makeArray(dates));

	var data = {
		    labels: dates,
		    datasets: [
		        {
		            label: <%= @account.number %>,
		            fill: false,
		            lineTension: 0.1,
		            backgroundColor: "rgba(75,192,192,0.4)",
		            borderColor: "rgba(75,192,192,1)",
		            borderCapStyle: 'butt',
		            borderDash: [],
		            borderDashOffset: 0.0,
		            borderJoinStyle: 'miter',
		            pointBorderColor: "rgba(75,192,192,1)",
		            pointBackgroundColor: "#fff",
		            pointBorderWidth: 1,
		            pointHoverRadius: 5,
		            pointHoverBackgroundColor: "rgba(75,192,192,1)",
		            pointHoverBorderColor: "rgba(220,220,220,1)",
		            pointHoverBorderWidth: 2,
		            pointRadius: 1,
		            pointHitRadius: 10,
		            data: <%= @values %>,
		        }
		    ]
		};


	var myLineChart = Chart.Line(ctx, {
   	 data: data,
   	});


</script>
